table.table_all_collection_centers {
    width: 70%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #ffcc00;
    border-style: solid;
    color: #000000;
}

table.table_all_collection_centers td, table.table_all_collection_centers th {
    border-width: 2px;
    border-color: #ffcc00;
    border-style: solid;
    padding: 3px;
}

table.table_all_collection_centers thead {
    background-color: #ffcc00;
}