table.table_all_dummy_drivers {
    width: 70%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #ffcc00;
    border-style: solid;
    color: #000000;
}

table.table_all_dummy_drivers td, table.table_all_dummy_drivers th {
    border-width: 2px;
    border-color: #ffcc00;
    border-style: solid;
    padding: 3px;
}

table.table_all_dummy_drivers thead {
    background-color: #ffcc00;
}