table.table {
    width: 70%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #ffcc00;
    border-style: solid;
    color: #000000;
}

table.table td, table.table th {
    border-width: 2px;
    border-color: #ffcc00;
    border-style: solid;
    padding: 3px;
}

table.table thead {
    background-color: #ffcc00;
}