table.table_all_tickets {
    width: 70%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #ffcc00;
    border-style: solid;
    color: #000000;
}

table.table_all_tickets td, table.table_all_tickets th {
    border-width: 2px;
    border-color: #ffcc00;
    border-style: solid;
    padding: 3px;
}

table.table_all_tickets thead {
    background-color: #ffcc00;
}